.profile {
  margin: 50px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(14, 163, 217, 0.23);
  width: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.avatar {
  width: 200px;
  border-radius: 60%;
}

.name {
  font-weight: 700;
  font-size: 24px;
}

.tag {
  color: rgb(63, 75, 76);
}

.location {
  color: rgb(63, 75, 76);
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f3f6f9;
  border-top: 1px solid rgb(48, 172, 164);
}

.item {
  flex: 1 1 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #b6dee1;
  border: 1px solid #e4e4e4;
}

/* .item:not(:last-child) {
  border-right: 1px solid rgb(227, 227, 227);
} */

.label {
  display: block;
  color: rgb(123, 123, 123);
  font-weight: 500;
  margin-bottom: 5px;
}

.quantity {
  font-size: 18px;
  font-weight: 500;
  display: block;
}
